body,
.btn {
  font-size: 18px;
}

body {
  font-family: lexia, Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #404040;
  font-weight: 60;
  padding-top: 0;
}

a, a:hover, a:active, a:focus {
  color: #049aab;
  text-decoration: none;
  outline: none;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.65;
}

h1, h2, h3, h4 {
  color: #025A6E;
}

h1 a, h2 a, h3 a, p.lead a,
h1 a:hover, h2 a:hover, h3 a:hover, p.lead a:hover,
h1 a:active, h2 a:active, h3 a:active, p.lead a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
p.lead, .small, label {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  line-height: 1.125;
}

p.lead {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 1.5;
}

h1, .h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}

.keyline-top {
  border-top: 1px solid #e5e5e5;
}

.keyline-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.keyline-left {
  border-left: 1px solid #e5e5e5;
}

.keyline-right {
  border-right: 1px solid #e5e5e5;
}

blockquote {
  padding: 0;
  font-size: 36px;
  border-left: none;
  padding-left: 30px;
  text-indent: -10px;
  -webkit-margin-before: -1em;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-style: italic;
}

blockquote:before,
blockquote:after,
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: none;
}

blockquote footer, blockquote small, blockquote .small {
  color: inherit;
}

blockquote footer {
  margin-top: 30px;
  padding-left: 10px;
  font-style: normal;
}

blockquote footer small {
  font-style: italic;
}

iframe[name=google_conversion_frame] {
  display: none;
}

.navbar-default {
  font-family: 'Nunito', sans-serif;
  background-color: #C0362C;
  border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  opacity: .8;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border-color: #fff;
}

.navbar-toggle {
  border: none;
  border-radius: 0;
  padding: 9px 6px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
  transition: all 0.25s;
}

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(3) {
  background-color: transparent;
}

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(2) {
  -moz-transform: rotate(45deg) translate(4.5px, 4px);
  -ms-transform: rotate(45deg) translate(4.5px, 4px);
  -webkit-transform: rotate(45deg) translate(4.5px, 4px);
  transform: rotate(45deg) translate(4.5px, 4px);
}

.navbar-default .navbar-toggle.expanded .icon-bar:nth-child(4) {
  -moz-transform: rotate(-45deg) translate(4.5px, -4px);
  -ms-transform: rotate(-45deg) translate(4.5px, -4px);
  -webkit-transform: rotate(-45deg) translate(4.5px, -4px);
  transform: rotate(-45deg) translate(4.5px, -4px);
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, .5);
}

.navbar-brand {
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.navbar-brand .icon-c5-logo {
  padding-right: 12px;
  position: relative;
  font-size: 30px;
  position: relative;
  top: 8px;
}

.btn, .btn:hover {
  border-radius: 0;
  font-style: italic;
  padding: 12px 48px;
}

.btn-default, .btn-default:hover {
  background: none;
  border-color: #fff;
}

.btn-primary, .event-la, .project-thumb, .blue {
  background-color: #1FFFE6;
  border-color: #048b9a;
}

.btn-primary:hover, a.event-la:hover, .project-thumb:hover {
  background-color: #026b7b;
  border-color: #026b7b;
}

.btn-danger, .event-sf, .red {
  background: #C0362C;
  border-color: #ff4b27;
}

.btn-danger:hover, a.event-sf:hover {
  background: #e54322;
  border-color: #e54322;
}

.btn-sm, .btn-sm:hover {
  padding: 6px 12px 5px 12px;
  border-radius: 0;
  font-size: 14px;
}

.event-cha {
  background: #e22d50;
}

a.event-cha:hover {
  background: #c92849;
}

.event-unk {
  background: #025A6E;
}

a.event-unk:hover {
  background: #024554;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #e5e5e5;
}

.nav-filters {
  margin-left: -10px;
}

.nav-filters>li {
  margin: 0 10px 10px 0;
}

.nav-filters>li>a {
  border-radius: 0;
  padding: 10px;
}

.nav-filters>li.active>a, .nav-filters>li.active>a:hover, .nav-filters>li.active>a:focus {
  color: #049AAB;
  background: #c2dcdf;
}

.nav>li>a:hover, .nav>li>a:focus {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.list-categories li {
  color: #d3d3d3;
}

.list-categories li.active {
  color: #404040;
}

.nav-filters>li+li {
  margin-left: 0;
}

.list-categories>li {
  margin-bottom: 10px;
}

.list-categories>li>a {
  color: #c2dcdf;
  padding: 5px;
  margin: -5px -5px 5px -5px;
}

.list-categories>li.active>a {
  color: #049AAB;
}

.list-categories>li.active>a:hover {
  background-color: #e5e5e5;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form-group {
  margin-bottom: 30px;
   text-align: center !important;
}

.form-control {
  color: #404040;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.help-block {
  color: #b3b3b3;
  font-size: 14px;
}

.thumbnail {
  border: 1px solid #b3b3b3;
  border-radius: 0;
}

.well {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.20) !important;

}

.fieldset
{
  background-color: rgba(255, 255, 255, 0.20);
}

@font-face {
  font-family: 'pentel';
  src:url('/fonts/pentel.eot');
  src:url('/fonts/pentel.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pentel.woff') format('woff'),
    url('/fonts/pentel.ttf') format('truetype'),
    url('/fonts/pentel.svg#pentel') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
}

.hero h1,
.sections-fullpage h1,
.event h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 80px;
  text-align: center;
}

.event h1, .event .h1 {
  font-size: 54px;
}

.hero h1 {
  padding-top: 175px;
  margin-top: 0;
}

.hero-half {
  min-height: 400px;
}

.hero-half h1 {
  padding-top: 175px;
}

.hero .btn,
.sections-fullpage .btn {
  color: #fff;
}

.hero .btn:hover,
.sections-fullpage .btn:hover {
  opacity: 0.8;
}

.hero-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/team.jpg);
}

.hero-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coffee.jpg);
}

.hero-events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/lunch.jpg);
}

.hero-careers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/couch.jpg);
}

.hero-work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coding.jpg);
}

.hero-404 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/404.jpg);
}

#services {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

#services h2, #services li {
  padding: 6px 0;
}

#services h2 {
  background: #025a6e;
  color: #fff;
  vertical-align: middle;
  margin-bottom: 0;
}

#services ul {
  background: #c2dcdf;
  margin-bottom: 30px;
  padding: 20px 0;
}

.leader, .bio {
  min-height: 400px;
}

.leader {
  font-size: 18px;
}

.leader h1,
.leader h4 {
  line-height: 1;
}

.portrait {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.bio {
  background: #fff;
  opacity: .9;
}

#lead-fields, #recruit-fields {
  display: none;
}

.project-thumb, .event-thumb {
  display: block;
  height: 340px;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
}



.screenshot-macbook,
.screenshot-iphone,
.screenshot-ipad {
  margin: 0 auto;
  background-repeat: no-repeat;
}

.screenshot-macbook {
  width: 474px;
  height: 272px;
  background-size: 360px 226px;
  background-position: 57px 15px;
}

.screenshot-iphone {
  width: 191px;
  height: 401px;
  background-size: 160px 274px;
  background-position: 16px 69px;
}

.screenshot-ipad {
  width: 314px;
  height: 242px;
  background-size: 257px 193px;
  background-position: 27px 24px;
}

.screenshot-macbook::after,
.screenshot-iphone::after,
.screenshot-ipad::after {
  content: '';
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.screenshot-macbook::after {
  width: 474px;
  height: 272px;
  background-image: url(/images/macbook.png);
}

.screenshot-iphone::after {
  width: 191px;
  height: 401px;
  background-image: url(/images/iphone.png);
}

.screenshot-ipad::after {
  width: 314px;
  height: 242px;
  background-image: url(/images/ipad.png);
}

.well {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: #f2f2f2;
}

.append-xs-15 {
  margin-bottom: 15px;
}

.prepend-xs-15 {
  margin-top: 15px;
}

.append-xs-30 {
  margin-bottom: 30px;
}

.prepend-xs-30 {
  margin-top: 30px;
}

.append-xs-45 {
  margin-bottom: 45px;
}

.prepend-xs-45 {
  margin-top: 45px;
}

.append-xs-60 {
  margin-bottom: 60px;
}

.prepend-xs-60 {
  margin-top: 60px;
}

.append-xs-75 {
  margin-bottom: 75px;
}

.prepend-xs-75 {
  margin-top: 75px;
}

.append-xs-90 {
  margin-bottom: 90px;
}

.prepend-xs-90 {
  margin-top: 90px;
}

@media (min-height: 320px) {
  .append-sm-15 {
    margin-bottom: 15px;
  }

  .prepend-sm-15 {
    margin-top: 15px;
  }

  .append-sm-30 {
    margin-bottom: 30px;
  }

  .prepend-sm-30 {
    margin-top: 30px;
  }

  .append-sm-45 {
    margin-bottom: 45px;
  }

  .prepend-sm-45 {
    margin-top: 45px;
  }

  .append-sm-60 {
    margin-bottom: 60px;
  }

  .prepend-sm-60 {
    margin-top: 60px;
  }

  .append-sm-75 {
    margin-bottom: 75px;
  }

  .prepend-sm-75 {
    margin-top: 75px;
  }

  .append-sm-90 {
    margin-bottom: 90px;
  }

  .prepend-sm-90 {
    margin-top: 90px;
  }
}

@media (min-height: 768px) {
  .append-md-15 {
    margin-bottom: 15px;
  }

  .prepend-md-15 {
    margin-top: 15px;
  }

  .append-md-30 {
    margin-bottom: 30px;
  }

  .prepend-md-30 {
    margin-top: 30px;
  }

  .append-md-45 {
    margin-bottom: 45px;
  }

  .prepend-md-45 {
    margin-top: 45px;
  }

  .append-md-60 {
    margin-bottom: 60px;
  }

  .prepend-md-60 {
    margin-top: 60px;
  }

  .append-md-75 {
    margin-bottom: 75px;
  }

  .prepend-md-75 {
    margin-top: 75px;
  }

  .append-md-90 {
    margin-bottom: 90px;
  }

  .prepend-md-90 {
    margin-top: 90px;
  }
}

@media (min-height: 1080px) {
  .append-lg-15 {
    margin-bottom: 15px;
  }

  .prepend-lg-15 {
    margin-top: 15px;
  }

  .append-lg-30 {
    margin-bottom: 30px;
  }

  .prepend-lg-30 {
    margin-top: 30px;
  }

  .append-lg-45 {
    margin-bottom: 45px;
  }

  .prepend-lg-45 {
    margin-top: 45px;
  }

  .append-lg-60 {
    margin-bottom: 60px;
  }

  .prepend-lg-60 {
    margin-top: 60px;
  }

  .append-lg-75 {
    margin-bottom: 75px;
  }

  .prepend-lg-75 {
    margin-top: 75px;
  }

  .append-lg-90 {
    margin-bottom: 90px;
  }

  .prepend-lg-90 {
    margin-top: 90px;
  }
}

.footer, .footer a {
  color: #fff;
}

.footer a {
  text-decoration: none;
}

.footer p a, .footer address a {
  border-bottom: 1px dotted #fff;
}

.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.70);
  font-size: 14px;
  padding-top: 30px;
  margin-top: 45px;
}

.footer a, .footer form {
  opacity: 0.7;
}

.footer .keyline {
  border-color: rgba(229, 229, 229, 0.25);
}

.footer a:hover {
  opacity: 1;
}

.footer .nav {
  font-size: 18px;
  margin-left: -15px;
  margin-top: -10px;
}

.footer .nav>li>a:hover {
  background: none;
}

.footer .icon-c5-logo {
  font-size: 45px;
  line-height: 45px;
}

.footer input {
  background: none;
  color: #fff;
  margin-bottom: 5px;
}

.footer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer .btn {
  color: #fff;
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  vertical-align: inherit;
}

.footer .btn:hover {
  background: #a6a6a6;
  border-color: #a6a6a6;
}

.footer .social {
  font-size: 24px;
  line-height: 24px;
}

.footer .social a {
  margin: 0 15px 0 0;
}

.text-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* showup nav styles
.navbar-show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s, background 2s, color .3s;
  -moz-transition: -moz-transform .25s, background 2s, color .3s;
  -o-transition: -o-transform .25s, background 2s, color .3s;
  transition: transform .25s, background 2s, color .3s;
}

.navbar-hide {
  opacity: 0;
  -webkit-transform: translate(0, -80px);
  -ms-transform: translate(0, -80px);
  transform: translate(0, -80px);
  -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0 .3s;
  -moz-transition: -moz-transform .2s, background .3s, color .3s, opacity 0 .3s;
  -o-transition: -o-transform .2s, background .3s, color .3s, opacity 0 .3s;
  transition: transform .2s, background .3s, color .3s, opacity 0 .3s;
}
*/
/* full screen styles */
.sections-fullpage .section,
.sections-fullpage .slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.form {
  width:70%;
  text-align: center !important;
}
.sections-fullpage .section {
  margin: 0;
}



.section-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/sf.jpg);
}

.section-benefits{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/detroit_one.jpg);
}

.events{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/detroit_one.jpg);
}
.section-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/collab.jpg);
}

.section-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/design.jpg);
}

.section-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/agile.jpg);
}

.section-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/vr.jpg);
}
.section-five {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/marketing.jpg);
}


.sections-fullpage .section-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/coffee.jpg);
}

.sections-fullpage .footer {
  position: absolute;
  bottom: 0;
}

.sections-fullpage .section-footer {
  min-height: 800px;
}

.section-landing .icon-c5-logo {
  font-size: 80px;
}

.section-landing h1 {
  margin: 40px 0 70px 0;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark p.lead,
.dark blockquote,
.dark label,
.dark a:hover,
.dark .icon-c5-logo {
  color: #fff;
}

.dark a {
  color: #c0c0c0;
}

.dark .keyline {
  border-color: rgba(255, 255, 255, 0.25);
}

.toggled {
  display: none;
}

/* fullpage.js & carousel overrides */
.fp-controlArrow, .chevron {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  opacity: .5;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.chevron {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.fp-controlArrow:hover, .carousel-control:hover .chevron {
  opacity: 1;
}

.fp-controlArrow.fp-prev, .chevron.chevron-left {
  width: 40px;
  left: 40px;
  border-style: solid;
  border-width: 5px;
  border-color: #fff transparent transparent #fff;
}

.fp-controlArrow.fp-next, .chevron.chevron-right {
  width: 40px;
  right: 40px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent #fff #fff transparent;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #fff;
}

.carousel-control {
  opacity: 1;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 21px;
  text-shadow: none;
  text-align: left;
}

/* c5 icon font styles */
@font-face {
  font-family: 'c5-logo';
  src:url('/fonts/c5-logo.eot');
  src:url('/fonts/c5-logo.eot?#iefix') format('embedded-opentype'),
    url('/fonts/c5-logo.woff') format('woff'),
    url('/fonts/c5-logo.ttf') format('truetype'),
    url('/fonts/c5-logo.svg#c5-logo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'c5-logo' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'c5-logo' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-c5-logo-vert:before {
  content: 'c';
}

.icon-c5-logo-horiz:before {
  content: 'b';
}

.icon-c5-logo:before {
  content: 'a';
}

.template {
  display: none;
}

/* non-small screen overrides */
@media (min-width: 768px) {
  .hero {
    min-height: 800px;
  }

  .hero h1,
  .sections-fullpage h1 {
    font-size: 90px;
  }

  .smaller{
    font-size: 70px !important;

  }

  .huge{
    font-size:110px !important;
  }

  .event h1, .event .h1 {
    font-size: 48px;
  }

  .hero h1 {
    padding-top: 350px;
  }

  .hero-half {
    min-height: 400px;
  }

  .hero-half h1 {
    padding-top: 175px;
  }

  .sections-fullpage .section-footer {
    min-height: 0;
  }

  .sections-fullpage .section-footer {
    min-height: auto;
  }
}
/* Video stuff */
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 150%;
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* responsive navbar settings */
@media (max-width: 991px) {
  /*
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
  }


  .navbar-nav>li {
    float: none;
  }

  .navbar-collapse.collapse.in {
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }
  */
}
